.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: white;
    border: 1px solid  rgb(207, 62, 86);
    border-radius: 24px;
    box-shadow: 10px 10px 10px black;
    padding: 20px;
    gap: 20px;
}
.title{
    text-transform: uppercase;
    color: rgb(207, 62, 86);
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 900;
}
.totalExpenseAmount{
    color:white;
    background-color: rgb(207, 62, 86);
    padding: 10px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 10px 10px 10px black;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgb(207, 62, 86);
    padding: 20px;
    border-radius: 12px;
    align-items: center;
}
.articleTitleAndDate{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articleTitle{
    color: rgb(207, 62, 86);
    font-size: 18px;
    font-weight: 700;
}

.articleDate{
    color: grey;
}

.articleDeleteBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(207, 62, 86);
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 10px 10px 10px black;
}